<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input placeholder="User Name" name="username" type="text">
        <input placeholder="Password" name="password" type="password">
        <button type="submit">submit</button>
    </form>
</body>
<style>
    html{
        height: 100%;
    }
    body{
        height: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    form{
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
</html>