<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/WebStyles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <div><img src="images/logo-01.png" width="100" alt=""></div>
            <div class="nav">
                <div>FAQ</div>
                <div>Jobs</div>
                <div>7anut Web</div>
                <div>About</div>
            </div>
        </div>
    </header>
    <div class="partOne">
        <div>
            <div style="flex: 3; margin-left: 60px;">
                <span style="font-size: 50px; font-style: italic;">The best app ever!!</span>
                <span style="font-size: 35px; margin-top: 10px">with 7anut you can buy any thing you like.</span>
                <div class="appStores">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="phonImage" style="flex: 2;">
                <img src="/images/mobileAnimation.gif" alt="">
            </div>
        </div>
    </div>
    <div class="partTwo">
        <div>

        </div>
    </div>
</body>
<script src="/js/webScript.js" defer></script>
</html>