<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/WebStyles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <div><img src="images/logo-01.png" width="100" alt=""></div>
            <div class="nav">
                <div>FAQ</div>
                <div>CAREERS</div>
                <div>7ANUT WEB</div>
                <div>ABOUT</div>
            </div>
        </div>
    </header>
    <div class="partOne">
        <div>
            <div style="flex: 3; margin-left: 60px;">
                <span style="font-size: 50px; font-style: italic; font-weight: bold;">The best app ever!!</span>
                <span style="font-size: 35px; margin-top: 10px;">with 7anut you can buy anything you like.</span>
                <div class="appStores">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="phonImage" style="flex: 2;">
                <img src="/images/mobileAnimation.gif" alt="">
            </div>
        </div>
        <div class="how">
            <span>How it works ?</span>
            <img src="/images/arrow.png" alt="" height="20">
        </div>
    </div>
    <div class="partTwo" style='background-image: url("/images/shopping.png");'>
        <div>
            <div><img src="/images/pickProductsAnimation.gif" alt=""></div>
            <div>
                <div class="title">1. Pick Items </div>
                <div class="description">choose a category and pick items you want by pressing the add button.</div>
            </div>
        </div>
    </div>
    <div class="partTwo" dir="rtl" style='z-index: -1; background-image: url("/images/map.png");'>
        <div>
            <div><img src="/images/mapAnimation.gif" alt=""></div>
            <div>
                <div class="title" dir="ltr">2. Select your address</div>
                <div class="description" dir="ltr">Select your address by pinning your location.</div>
            </div>
        </div>
    </div>
    <div class="partTwo" style='z-index: -2; background-image: url("/images/order.png"); box-sizing: unset;'>
        <div>
            <div><img src="/images/orderAnimation.gif" alt=""></div>
            <div>
                <div class="title">3. Order Items </div>
                <div class="description">Once picking items and selecting address you can check the bill and order your stuff.</div>
            </div>
        </div>
    </div>
    <div class="partTwo" dir="rtl" style='z-index: -3; background-image: url("/images/status.png");'>
        <div>
            <div><img src="/images/ordersAnimation.gif" alt=""></div>
            <div>
                <div class="title" dir="ltr">4. Check your orders status</div>
                <div class="description" dir="ltr">You can check your orders status by going the the orders screen.</div>
            </div>
        </div>
    </div>
    <div class="partTwo" style='z-index: -4; background-image: url("/images/Bags.png"); box-sizing: unset;'>
        <div>
            <div><img src="/images/wait.gif" alt=""></div>
            <div>
                <div class="title">5. Wait for orders to come</div>
                <div class="description">Orders come in the next day or choose any day of the week.</div>
            </div>
        </div>
    </div>
    <footer>
        <div class="theFooter">
            <div>
                <div class="title">Download app</div>
                <div class="appStores" style="flex-direction: column;">
                    <div style="margin-bottom: 20px"></div>
                    <div ></div>
                </div>
            </div>
            <div>
                <div class="title">test</div>
                <div>test</div>
                <div>test</div>
                <div>test</div>
                <div>test</div>
            </div>
            <div>
                <div class="title">test</div>
                <div>test</div>
                <div>test</div>
                <div>test</div>
                <div>test</div>
            </div>
            <div>
                <div class="title">test</div>
                <div>test</div>
                <div>test</div>
                <div>test</div>
                <div>test</div>
            </div>
        </div>
    </footer>
</body>
<script src="/js/webScript.js" defer></script>
</html>