<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/WebStyles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>image</div>
        <div class="nav">
            <div>FAQ</div>
            <div>Jobs</div>
            <div>7anut Web</div>
            <div>About</div>
        </div>
    </header>
    <div class="partOne">
        part one
    </div>
</body>
<script src="/js/webScript.js" defer></script>
</html>