.flex{
    display: flex;
}
.margin{
    margin: 5px;
}
.padding{
    padding: 5px;
}
.border{
    border: 1.6px solid black;
}
.fixedWidth{
    width: 100px;
}
.greyBC{
    background-color: rgb(219, 219, 219);
}
.BCimage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}