*{
    font-family: Arial, Helvetica, sans-serif;
    /* make padding not effect the width or the height */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*
    >>>>>>> header <<<<<<<
*/
header{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 0 20px;
}
header > div{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    font-weight: bold;
}
.nav > div{
    padding: 5px 15px;
    padding-top: 7.5px;
    border: 2px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    background-color: #ffffff21;
}

/*
    >>>>>>> first part <<<<<<<
*/
.partOne{
    display: flex;
    justify-content: center;
    background-color: #FFF7AE;
    background-image: url("/images/background.png");
    background-size: 1000px;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
}
.partOne > div{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 20px;
}
.partOne > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partOne > div > .phonImage{
    width: 400px;
    animation-name: mobile;
    animation-duration: 1200ms;
}
@keyframes mobile{
    from{
        opacity: 0.0;
        margin-top: 100px;
    };
    to{
        opacity: 1.0;
        margin-top: 0px;
    }
}
.partOne > div > .phonImage > img{
    width: 300px;
    filter: saturate(150%);
}
.partOne > div > div > *{
    width: 100%;
    font-weight: bold;
}
.partOne > div > div > .appStores{
    display: flex;
    margin-top: 30px;
}
.partOne > div > div > .appStores > div{
    border: 2px solid black;
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #ffffff33;
}
.partOne > div > div > .appStores > div:nth-child(1){
    background-image: url("/images/amazonColored.png");
    background-position: center;
    background-position-y: 14px;
    background-repeat: no-repeat;
    background-size: 150px;
    height: 50px;
    width: 190px;
    transition: 0.2s;
}
.partOne > div > div > .appStores > div:nth-child(1):hover{
    background-color: #fff27d;
}
.partOne > div > div > .appStores > div:nth-child(2){
    background-image: url("/images/appGallery.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 170px;
    transition: 0.2s;
}
.partOne > div > div > .appStores > div:nth-child(2):hover{
    background-color: #fff27d;
}

/*
    >>>>>>> second part <<<<<<<
*/
.partTwo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: red;
    background-image: url("/images/texture1.png"), linear-gradient(#FFF27B, #FFF5A0);
}
.partTwo > div{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: green;
}
.partTwo > div > div:nth-child(1){
    background-color: hotpink;
    flex: 3;
}
.partTwo > div > div:nth-child(2){
    background-color: grey;
    flex: 5;
}