*{
    font-family: 'Almarai', Helvetica, Arial;
    line-height: 160%;
    /* make padding not effect the width or the height of the div */
    box-sizing: border-box;

    /* removing the scrolling bar */
    overflow-x: hidden;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*
    >>>>>>> header <<<<<<<
*/
header{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 0 30px;
    z-index: 1;
}
header > div{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: bold;
}
.nav > *{
    padding: 5px 15px;
    white-space: nowrap;
    text-decoration: none;
    color: unset;
}
.options {
    display: none;
}
.navPop{
    display: none;
    position: fixed;
    background-color: #FFF7AE;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}
.navPop > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    font-size: xx-large;
}
.navPop > .header > .title {
    font-weight: bold;
}
.navPop > .header > .remove {
    font-weight: bold;
    font-size: xx-large;
}
.navPop > .list > * {
    margin: 15px 0px;
    font-weight: bold;
    font-size: larger;
}
.navPop > .list > * > * {
    color: black;
    text-decoration: none;
}
.langPop {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #00000063;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}
.langPop > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff280;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.719);
    margin: 15px;
    width: 100vw;
    max-width: 200px;
}
.langPop > div > a {
    background-color: #fff7ac;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px 0px;
    text-decoration: none;
    color: black;
}
/*
    >>>>>>> first part <<<<<<<
*/
.partOne{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #FFF7AE;
    background-image: url("/images/background.png");
    background-size: 1000px;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
}
.partOne > .how{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 175px;
    height: 100px;
    max-width: unset;
    padding: unset;
    text-decoration: underline;
}
.partOne > .how > img{
    position: absolute;
    bottom: 0px;
    animation-name: arrowAnimation;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
}
.partOne > div{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 20px;
}
.partOne > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partOne > div > .phonImage{
    width: 400px;
    animation-name: mobile;
    animation-duration: 1200ms;
}
.partOne > div > .phonImage > img{
    width: 300px;
    filter: saturate(150%);
    filter: brightness(110%);
}
.partOne > div > div > *{
    width: 100%;
}
.appStores{
    display: flex;
    margin-top: 30px;
}
.appStores > div{
    border: 2px solid black;
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #ffffff33;
}
.appStores > div:nth-child(1){
    background-image: url("/images/amazonColored.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    height: 50px;
    width: 190px;
    transition: 0.2s;
}
.appStores > div:nth-child(1):hover{
    background-color: #fff27d;
}
.appStores > div:nth-child(2){
    background-image: url("/images/appGallery.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 170px;
    transition: 0.2s;
}
.appStores > div:nth-child(2):hover{
    background-color: #fff27d;
}

/*
    >>>>>>> second part <<<<<<<
*/
.partTwo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    background-size: 500px;
    background-size: cover;
}
.partTwo > div{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 20px;
}
.partTwo > div > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    animation-duration: 1200ms;
    filter: saturate(150%) brightness(110%);
}
.partTwo > div > div:nth-child(1) img{
    height: 400px;
}
.partTwo > div > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 5;
    text-align: center;
}
.partTwo > div > div:nth-child(2) > .title{
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}
.partTwo > div > div:nth-child(2) > .description{
    width: 100%;
    font-size: 24px;
    padding: 10px;
    line-height: 150%;
}

/* 
    >>>>>>>>>>>>>>>>>> footer <<<<<<<<<<<<<<<<<<<
*/
footer{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #FFF7AE;
    background-image: url("/images/background.png");
    background-size: 1000px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
}
footer > .theFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    z-index: 20;
    padding: 25px;
    width: 100%;
    max-width: 1200px;
}
footer > .theFooter > div{
    padding: 10px 0px;
    margin: 10px 10px;
}
footer > .theFooter > div > .title{
    font-size: large;
    font-weight: bold;
}
footer > .theFooter > div > div{
    margin: 20px 0px;
}

/* 
    >>>>>>>>>>>>>>>>>> media queries <<<<<<<<<<<<<<<<<<<
*/
@media screen and (max-width: 800px) {
    header {
        padding: 0 15px;
    }
    .partOne > div {
        flex-direction: column-reverse;
        align-items: center;
    }
    .partOne > div > .phonImage > img{
        width: auto;
        height: 100%;
    }
    .partOne > div > div{
        margin-left: 0 !important;
        text-align: center;
    }
    .phonImage {
        flex: 4 !important;
    }
    .theTitle {
        font-size: x-large !important;
    }
    .theDescription {
        font-size: large !important;
    }
    .appStores {
        margin-top: 15px;
        margin-bottom: 15px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .appStores > div {
        margin-bottom: 7.5px;
        width: 150px !important;
        height: 40px !important;
        background-size: 125px !important;
    }
    .partTwo > div {
        flex-direction: column;
        padding: 50px;
    }
    .partTwo {
        height: unset;
    }
    .partTwo > div > div:nth-child(2) {
        margin-top: 30px;
        
    }
    .partTwo > div > div:nth-child(2) > .title {
        font-size: 24px;
    }
    .partTwo > div > div:nth-child(2) > .description {
        font-size: 18px;
    }
    .nav {
        display: none;
    }
    .options {
        display: block;
    }
}

/* 
    >>>>>>>>>>>>>>>>>> animations <<<<<<<<<<<<<<<<<<<
*/
@keyframes mobile{
    from{
        opacity: 0.0;
        margin-top: 100px;
    };
    to{
        opacity: 1.0;
        margin-top: 0px;
    }
}
@keyframes arrowAnimation {
    0% {
        bottom: 2.5px;
    } 
    50% {
        bottom: 10px;
    }
    100% {
        bottom: 2.5px;
    }
}